html, body, p{ 
    margin:0; 
    padding:0; 
 }
header{
    padding:25px 0px;
    background-color:white;
    
}
li{
	display : inline;
	padding:10px;
}
ul{
	margin-top: 150px;
	display : block;
	float: center
}
div{
	float: center;
}
section{
	position: absolute;
	right: 10px;
	top: 10px;
}

